<% layout('device_header') -%>
<% stylesheet('/css/map.css') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyA9hZO1Yz7lBgNJiKfu5qznUxk2EhuqbxI&sensor=true') -%>
<% script('http://localhost:3000/socket.io/socket.io.js') -%>

<div class='row'>	
	<div class="span5 pull-left">
		<p><span style="color:blue"><%= device[0].name %>'s</span> movement.</p>
	</div>
	<div class="span5 pull-right">
		<textarea class="input-xlarge" id="message" rows="3" placeholder="Maximum 200 characters."></textarea>
		<button type="submit" id="sendmessage" onClick="sendmessage()" class="btn btn-success">
		<i class="icon-envelope icon-white"></i> Send Message</button>
	</div>
</div>

<table class="table">
	<tr>
		<td style="border-top:none">
			<div width="75%" id="map_canvas"/>
		</td>
		<td style="border-top:none" width="25%" id="table_location"> 
				list of deivces
		</td>
	</tr>
</table>

<form class = "well">
    <b>Create new location</b>
    <div>Latitude: <input type='text' class="span4" id='latitude' value=''></div>
    <div>Longitude: <input type='text'  class="span4" id='longitude' value=''></div>
    <div>Accuracy: <input type='text' class="span4" id='accuracy' value=''></div>
    <button class="btn btn-primary" id='save' >Save</button>
</form>

<script type="text/javascript"> 

$(document).ready(function () {
	var mapOptions = {
	  center: new google.maps.LatLng(-34.397, 150.644),
	  zoom: 8,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
});

sendmessage = function() {
	
	var pushMessage = $("#message").val();
	var notificationId = <%= device[0].push_notification_id %>;
	alert(pushMessage+" :: "+notificationId);

	$.ajax({
	        url: "/push_message_to_all",
	        data: { 
	        	'push_notification_id': notificationId, 
      			'push_message': pushMessage        		
    		},
	        type: "post",
	        success: function(response, textStatus, jqXHR){
	            // log a message to the console
	            alert(response);
	        },
	        error: function(jqXHR, textStatus, errorThrown){
	        	alert(" Error while sending push message "+testStatus+"  : "+errorThrown);
	        },
	        complete: function(){
	            // enable the inputs
	        }
	    }); // End of ajax
}
</script>  
