<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <a class="brand" style="margin-left:20px" href="/">Tracker<sup>[beta]</sup></a>
      <div class="nav-collapse">
      <ul class="nav">
        <% if (header.tab) { %>
          <% if ( header.tab == 'home' ) { %>
          <li class="active"> <a href="/">Home</a></li>
          <li> <a href="/pricing">Pricing</a></li>
          <li> <a href="/about">About Us</a></li>   

          <% } if (header.tab == 'pricing' ){ %>
          <li> <a href="/">Home</a></li>
          <li class="active"> <a href="/pricing">Pricing</a></li>
          <li> <a href="/about">About Us</a></li> 

          <% } if (header.tab == 'about' ) { %>
          <li> <a href="/">Home</a></li>
          <li> <a href="/pricing">Pricing</a></li>
          <li class="active"> <a href="/about">About Us</a></li>   
          <% } %>

        <% } else { %>
          <li class="active"> <a href="/">Home</a></li>
          <li> <a href="/pricing">Pricing</a></li>
          <li> <a href="/about">About Us</a></li>   
        <% } %>   
    </ul>
      <form action="/login" method="post" class="navbar-form pull-right" style="margin-right:20px;" >
        <div>
              <input class="span2" name="email" style="border-radius:3px;" type="text" placeholder="Email">
              <input class="span2" name="password" style="border-radius:3px;" type="password" placeholder="Password">
              <button type="submit" style="border-radius:3px;" class="btn btn-success">Login</button>
        </div>
        <div class="row" style="padding:5px;">
          <a class="span2" href="/register">Create Account </a>
          <a class="span2" style="margin-left:5px" href="/register">Forgot Password?</a>
        </div>
      </form>

     </div><!--/.nav-collapse -->
  </div>
</div>
