<% layout('layout') -%>
<div class="hero-unit">
        <h1>Efficient location tracker to track your deliveries.</h1> <br><br>
        <p><a href="http://geddyjs.org/tutorial.html" class="btn btn-primary btn-large">Take a tour »</a></p>
</div>

<img src="images/tracker_logo.jpg">
<img src="images/tracker_logo.jpg">
<img src="images/tracker_logo.jpg">
<img src="images/tracker_logo.jpg">