<!DOCTYPE html>          
<html>                           
  <head>                                            
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tracker</title>

    <style type="text/css">                    
      
      html , body {
        font: normal 0.9em arial, helvetica;
		    padding-top: 30px;
        height:100%;

      }  
      #wrapper {
        min-height:100%;
        position:relative;
      }

      #content {
        margin:20px;
        padding-bottom:150px;
      }

      #footer {
        background: #f0fff0;
        padding: 10px 0 0 0;
        border-top: 1px solid #cccccc;
        width:100%;
        text-align: center;
        position:absolute;
        bottom:0;
        left:0;
      }

      #footer a {
          color: #999999;
      }

      #footer a:hover {
          color: #ff0000;
      }

      .shadow {
        margin: 15px;
       -moz-box-shadow:    3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:         3px 3px 5px 6px #ccc; 
      }

      .btn1 {
      border-radius:                    0px;
      -webkit-border-radius:            0px;
      -moz-border-radius:               0px;
      }
    </style> 

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <%-stylesheets%>
    <%-scripts%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <body>
      <div id="wrapper">
      <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" style="margin-left:20px" href="/">Tracker<sup>[beta]</sup></a>
                    <ul class="nav pull-right" style="margin-right:20px;" >
                      <li> <a href="/help"> Help </a></li>
                    </ul>    
               </div><!--/.nav-collapse -->
            </div>
        </div>

        <div id="content">
          <div class="container">      
          <%- body %>
          </div>
        </div>
      

       <div id="footer">
        <p><b>Copyright © 2012 Tracker. All rights reserved </b> <br/>
        Uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="http://expressjs.com/" rel="external">Express</a> and <a href="http://nodejs.org/" rel="external">NodeJS</a> and <a href="http://socket.io/" rel="external">Socket.IO</a>.</p>

      </div>    
    </div> <!-- div container -->
    </div>
    </body>                                                                                                                              
</html> 