<!DOCTYPE html>          
<html>                           
  <head>                                            
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tracker</title>

    <style type="text/css">                    
      
      html , body {
        font: normal 0.9em arial, helvetica;
		    padding-top: 40px;
        height:100%;
      }                 
      
      #map_canvas { height: 100% } 

      wrapper {
        min-height:100%;
        position:relative;
      }

      header {
        background:#ededed;
        padding:10px;
      }

      content {
        padding-bottom:100px; /* Height of the footer element */
      }

      footer {
        color: #ffffff;
        background: #000000;
        padding: 17px 0 18px 0;
        border-top: 5px solid #000000;
        width:100%;
        height:200px;
        text-align: center;
        position:absolute;
        bottom:0;
        left:0;
      }

      footer a {
          color: #999999;
      }

      footer a:hover {
          color: #efefef;
      }
    </style> 

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9hZO1Yz7lBgNJiKfu5qznUxk2EhuqbxI&sensor=true"></script>
<body>
  <div class="wrapper">
  <div class="container">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Location Tracker</a>
            <div class="nav-collapse">
                <ul class="nav">
            <li class="active"> <a href="www.google.com">Home</a></li>
            <li> <a href="/pricing">Pricing</a></li>
            <li> <a href="/about">About</a></li>      
          </ul>
          <ul class="nav pull-right">
                <% if (!user) { %>
                  <li><a>Welcome, Please login</a></li>
                  <li> <a href="#myModal" data-toggle="modal"> Sign Up </a></li>
                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                    <!-- Login form -->
                    <form action="/login" method="post" accept-charset="UTF-8">
                      <input type="text" style="margin-bottom: 15px;" size ="30" class="span3" placeholder="Username"/> </br>
                      <input type="password" style="margin-bottom: 15px;" size ="30" class="span3" placeholder="Password"/> </br>
                      <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" value="1"/>Remember me</br>
                      <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                    </form>
                  </div>
                </li>
                
                <% } else { %>
                  <li> <a>Hello, <%= user.username %></a> </li>
                  <li class="divider-vertical"></li>
                  <li> <a href="/logout"> Logout </a></li>
                <% } %>
                </ul>
           </div><!--/.nav-collapse -->
          </div> 
        </div>
      </div>

      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Tracker Sign up</h3>
          </div>
          <div class="modal-body">
            <form class="well" action="/register" method="post" accept-charset="UTF-8">
            <label> Name </label>
            <input type="text" class="span4" placeholder="Enter a name (optional)"/> </br>
            <label> Username </label>
            <input type="email" class="span4" placeholder="Enter an email address"/> </br>
            <label> Password </label> 
            <input type="password" class="span4" placeholder="Enter a valid password."/> </br> 
            <label> Confirm Password </label> 
            <input type="confirm_password" class="span4" placeholder="Enter the password again."/> </br> </br>
            <button class="btn btn-primary">Sing up</button>    
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
          </form>
          </div>
      </div>   
      
    <div class="content">      
    <h1> MANIKANDAN </h1>    
    <%- body %>
    </div>

    <div class="footer">
        <b>Copyright © 2012 Tracker. All rights reserved </b>
        <p>Uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="http://expressjs.com/" rel="external">Express</a> and <a href="http://nodejs.org/" rel="external">NodeJS</a> and <a href="http://socket.io/" rel="external">Socket.IO</a>.</p>
    </div>    

  </div> <!-- div container -->
  </div> <!-- div wrapper -->
  </body>                                                                                                                              
</html> 