<% layout('device_header') -%>
<% stylesheet('css/map.css') -%>
<% script('https://maps.googleapis.com/maps/api/js?key=AIzaSyA9hZO1Yz7lBgNJiKfu5qznUxk2EhuqbxI&sensor=true') -%>
<% script('http://localhost:3000/socket.io/socket.io.js') -%>

<div class='row'>	
	<div class="span4 pull-left">
		<h3>Movement Capture</h3>
	</div>
</div>

<table class="table">
	<tr>
		<td style="border-top:none">
			<div width="75%" id="map_canvas"/>
		</td>
		<td style="border-top:none" width="25%" id="table_location"> 
				list of deivces
		</td>
	</tr>
</table>

<form class = "well">
    <b>Create new location</b>
    <div>Latitude: <input type='text' class="span4" id='latitude' value=''></div>
    <div>Longitude: <input type='text'  class="span4" id='longitude' value=''></div>
    <div>Accuracy: <input type='text' class="span4" id='accuracy' value=''></div>
    <button class="btn btn-primary" id='save' >Save</button>
</form>

<script type="text/javascript"> 

$(document).ready(function () {

	$("#add_phone").click(function() {
		alert(' clicked save '+$("#device").val());
	});

	var mapOptions = {
	  center: new google.maps.LatLng(-34.397, 150.644),
	  zoom: 8,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

});

</script>  
