<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <a class="brand" style="margin-left:20px" href="/">Location Tracker</a>
      <div class="nav-collapse">
      <ul class="nav">
        <% if (header.tab) { %>
          <% if ( header.tab == 'home' ) { %>
          <li class="active"> <a href="/"><i class="icon-home icon-white"></i>Home</a></li>
          <li> <a href="/pricing"><i class="icon-tag icon-white"></i>Pricing</a></li>
          <li> <a href="/about"><i class="icon-leaf icon-white"></i>About</a></li>   

          <% } if (header.tab == 'pricing' ){ %>
          <li> <a href="/"><i class="icon-home icon-white"></i>Home</a></li>
          <li class="active"> <a href="/pricing"><i class="icon-tag icon-white"></i>Pricing</a></li>
          <li> <a href="/about"><i class="icon-leaf icon-white"></i>About</a></li>   

          <% } if (header.tab == 'about' ) { %>
          <li> <a href="/"><i class="icon-home icon-white"></i>Home</a></li>
          <li> <a href="/pricing"><i class="icon-tag icon-white"></i>Pricing</a></li>
          <li class="active"> <a href="/about"><i class="icon-leaf icon-white"></i>About</a></li>   
          <% } %>

        <% } else { %>
          <li class="active"> <a href="/"><i class="icon-home icon-white"></i>Home</a></li>
          <li> <a href="/pricing"><i class="icon-tag icon-white"></i>Pricing</a></li>
          <li> <a href="/about"><i class="icon-leaf icon-white"></i>About</a></li>   
        <% } %>   
    </ul>
    <ul class="nav pull-right" style="margin-right:20px" >
        <li> <a href="#myModal" data-toggle="modal"> Sign Up </a></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
          <!-- Login form -->
          <form class="well" action="/login" method="post" accept-charset="UTF-8">
            <input name="email" type="text" style="margin-bottom: 15px;" size ="30" class="span3" placeholder="Username"/> </br>
            <input name="password" type="password" style="margin-bottom: 15px;" size ="30" class="span3" placeholder="Password"/> </br>
            <label class="checkbox">
            <input id="user_remember_me" style="color:red; float: left; margin-right: 10px;" type="checkbox" value="1"/>Remember me</label></br>
            <button type="submit" class="btn btn-primary"><i class="icon-user icon-white"></i> Sign In </button>
          </form>
        </div>
      </li>
    </ul>
     </div><!--/.nav-collapse -->
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Tracker Sign up</h3>
  </div>
  
  <div class="modal-body">
    <form class="well" action="/register" method="post" accept-charset="UTF-8">
    <label> Name </label>
    <input name="name" type="text" class="span4" placeholder="Enter a name (optional)"/> </br>
    <label> Username </label>
    <input name ="email" type="email" class="span4" placeholder="Enter an email address"/> </br>
    <label> Password </label> 
    <input name="password" type="password" class="span4" placeholder="Enter a valid password."/> </br> 
    <label> Confirm Password </label> 
    <input name="confirm_password" type="password" class="span4" placeholder="Enter the password again."/> </br> </br>
    <button type="submit" class="btn btn-primary"><i class="icon-user icon-white"></i> Sign Up </button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="icon-remove icon-white"></i>Close</button>
  </form>
  </div>
  </div>   