<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <a class="brand" style="margin-left:20px" href="/">Tracker<sup>[beta]</sup></a>
      <div class="nav-collapse">
      <ul class="nav">
        <% if (header.tab) { %>
          <% if ( header.tab == 'home' ) { %>
          <li class="active"> <a href="/">Home</a></li>
          <li> <a href="/pricing">Pricing</a></li>
          <li> <a href="/about">About Us</a></li>   

          <% } if (header.tab == 'pricing' ){ %>
          <li> <a href="/">Home</a></li>
          <li class="active"> <a href="/pricing">Pricing</a></li>
          <li> <a href="/about">About Us</a></li> 

          <% } if (header.tab == 'about' ) { %>
          <li> <a href="/">Home</a></li>
          <li> <a href="/pricing">Pricing</a></li>
          <li class="active"> <a href="/about">About Us</a></li>   
          <% } %>

        <% } else { %>
          <li class="active"> <a href="/">Home</a></li>
          <li> <a href="/pricing">Pricing</a></li>
          <li> <a href="/about">About Us</a></li>   
        <% } %>   
    </ul>
    <ul class="nav pull-right" style="margin-right:20px;" >
        <li> <a href="/register">Create Account </a></li>
        <li style="margin-top:10px">
          <form class="form-inline" action="/login" method="post" accept-charset="UTF-8">
            <input type="text" name="email" class="input-small search-query" placeholder="Email">
            <input type="password" name="password" class="input-small search-query" placeholder="Password">
            <button type="submit" class="btn1 btn-small btn-primary">Login</button>
          </form>        
        </li>        
    </ul>
     </div><!--/.nav-collapse -->
  </div>
</div>
